#beerousel {
  grid-row: 2 / 2;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#topBeerousel {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 5rem 0px;
}

#topBeerousel h2 {
  font-size: 3rem;
  color: #3d322c;
  font-weight: 800;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}

#bottomBeerousel {
  /* height: 75%; */
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1200px) {
  .railContainer {
    width: 150%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
  }
}
@media only screen and (min-width: 750px) {
  .railContainer {
    width: 250%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
  }
}
@media only screen and (min-width: 1px) {
  #topBeerousel h2 {
    font-size: 5rem;
  }
  .railContainer {
    width: 450%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
  }
}

.railItem {
  height: 100%;
  display: flex;
  width: 25%;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.railItem img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

.railItem:hover .beerHover {
  display: block;
}

.beerHover {
  display: none;
}

.beerItem {
  width: 40%;
  height: 80%;
  z-index: 3;
}

.bottleItem .beerItem {
  margin-bottom: 40px;
}
