.menuDot {
  white-space: normal;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

#dot1 {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}
#dot2 {
  grid-row: 2 / 2;
  grid-column: 3 / 3;
}
#dot3 {
  grid-row: 2 / 2;
  grid-column: 4 / 4;
}
#dot4 {
  grid-row: 3 / 3;
  grid-column: 2 / 2;
}
#dot5 {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}
#dot6 {
  grid-row: 3 / 3;
  grid-column: 4 / 4;
}
#dot7 {
  grid-row: 4 / 4;
  grid-column: 2 / 2;
}
#dot8 {
  grid-row: 4 / 4;
  grid-column: 3 / 3;
}
#dot9 {
  grid-row: 4 / 4;
  grid-column: 4 / 4;
}

.menuClass:hover > .menuDot {
  color: #3d322c;
}

.menuClass:hover #dot1 {
  animation: scintillateDots1 4s forwards;
}
@keyframes scintillateDots1 {
  0% {
    color: transparent;
  }
  11% {
    color: #3d322c;
  }
}
.menuClass:hover #dot2 {
  animation: scintillateDots2 4s forwards;
}
@keyframes scintillateDots2 {
  0% {
    color: transparent;
  }
  22% {
    color: #3d322c;
  }
}
.menuClass:hover #dot3 {
  animation: scintillateDots3 4s forwards;
}
@keyframes scintillateDots3 {
  0% {
    color: transparent;
  }
  33% {
    color: #3d322c;
  }
}
.menuClass:hover #dot4 {
  animation: scintillateDots4 4s forwards;
}
@keyframes scintillateDots4 {
  0% {
    color: transparent;
  }
  44% {
    color: #3d322c;
  }
}
.menuClass:hover #dot5 {
  animation: scintillateDots5 4s forwards;
}
@keyframes scintillateDots5 {
  0% {
    color: transparent;
  }
  55% {
    color: #3d322c;
  }
}
.menuClass:hover #dot6 {
  animation: scintillateDots6 4s forwards;
}
@keyframes scintillateDots6 {
  0% {
    color: transparent;
  }
  66% {
    color: #3d322c;
  }
}
.menuClass:hover #dot7 {
  animation: scintillateDots7 4s forwards;
}
@keyframes scintillateDots7 {
  0% {
    color: transparent;
  }
  77% {
    color: #3d322c;
  }
}
.menuClass:hover #dot8 {
  animation: scintillateDots8 4s forwards;
}
@keyframes scintillateDots8 {
  0% {
    color: transparent;
  }
  88% {
    color: #3d322c;
  }
}
.menuClass:hover #dot9 {
  animation: scintillateDots9 4s forwards;
}
@keyframes scintillateDots9 {
  0% {
    color: transparent;
  }
  99% {
    color: #3d322c;
  }
}
