#footerContainer {
  background-color: #212121;
  display: flex;
  flex-direction: row;
}

#leftFooter,
#rightFooter {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}

#leftFooter {
  padding: 4rem 1rem 0rem 3rem;
}

#rightFooter {
  background-image: linear-gradient(
      rgba(54, 54, 54, 0.5),
      rgba(54, 54, 54, 0.5)
    ),
    url("../resources/imgs/footer-right.jpg");
}

#ourBeers h3 {
  font-family: "Abril Fatface", cursive;
  color: white;
  font-size: 1.25rem;
}

#ourBeers p {
  color: #f3db5d;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 0;
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
}

#ourBeers p:hover {
  color: #57c3c5;
}

#beerList {
  column-count: 3;
}

#hoursLoc {
  display: flex;
  flex-direction: column;
}

#hoursLocHeader {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 1.5rem 0;
}

.hlHeaderContainer h4 {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  margin: 0;
}

#hlHeader1 {
  padding-right: 3rem;
}

#hlHeader2 {
  padding: 0 3rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#hlHeader3 {
  padding-left: 3rem;
}

#hoursLocHeader h4:hover {
  color: #58c5c7;
  border-bottom: 2px solid #58c5c7;
}

#hoursLocContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.timeContainer:nth-child(2) {
  margin-left: 2rem;
  margin-right: 1rem;
}

.hoursLocItem {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.hoursLocItem h6 {
  font-size: 0.9rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: white;
  margin: 0;
}

.hoursLocItem p {
  font-size: 0.8rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #fdf1c6;
  margin: 0;
}

.hlHeaderContainer {
  display: flex;
  justify-content: space-around;
}

/* #contactDetailContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

#contactDetailContainer > div {
  width: 50%;
} */

#conDetailLeft {
  color: #fdf1c6;
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  box-sizing: border-box;
  padding-right: 3rem;
  padding-top: 2rem;
}

#conDetailRight {
  padding-top: 2rem;
}

#conDetailRight p {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  font-weight: 300;
  color: #f3db5d;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#conDetailRight p:hover {
  color: #57c3c5;
}
