#footerContainer {
  background-color: #212121;
  display: flex;
  flex-direction: row;
}

#leftFooter,
#rightFooter {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}

#leftFooter {
  padding: 4rem 1rem 0rem 3rem;
}

#rightFooter {
  background-image: linear-gradient(
      rgba(54, 54, 54, 0.5),
      rgba(54, 54, 54, 0.5)
    ),
    url("../resources/imgs/footer-right.jpg");
}

#ourBeers h3 {
  font-family: "Abril Fatface", cursive;
  color: white;
  font-size: 1.25rem;
}

#ourBeers p {
  color: #f3db5d;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 0;
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
}

#ourBeers p:hover {
  color: #57c3c5;
}

#beerList {
  column-count: 3;
}

#hoursLoc {
  display: flex;
  flex-direction: column;
}

#hoursLocHeader {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 1.5rem 0;
}

#hoursLocHeader h4:nth-child(1) {
  padding-right: 3rem;
  cursor: pointer;
}

#hoursLocHeader h4:nth-child(2) {
  padding: 0 3rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  cursor: pointer;
}

#hoursLocHeader h4:nth-child(3) {
  padding-left: 3rem;
  cursor: pointer;
}

#hoursLocHeader h4:hover {
  color: #58c5c7;
  border-bottom: 2px solid #58c5c7;
}

#hoursLocContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeContainer {
  display: flex;
  flex-direction: column;
}

.hoursLocItem {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.hoursLocItem h6 {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  color: white;
  margin: 0;
}

.hoursLocItem p {
  font-size: 0.875rem;
  font-family: "Roboto Mono", monospace;
  color: #fdf1c6;
  margin: 0;
}

.hlHeaderContainer {
  display: flex;
  justify-content: space-around;
}
