header {
  height: 8rem;
  width: 90%;
  position: fixed;
  top: 0;
  z-index: 2;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 100%;
  /* display: flex;
  flex-direction: row; */
  /* display: none; */
}

#headerLeft {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  width: 100%;
  height: 100%;
}

#logo {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  width: 100%;
  height: 100%;
}

#headerRight {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  width: 100%;
  height: 100%;
}

header div {
  border: 1px solid #70695c;
  flex-grow: 1;
  color: #f4db5e;
  text-align: center;
  line-height: 64px;
  box-sizing: border-box;
}

header section {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 25%;
}

.header-half {
  height: 50%;
}

#headerLeft > div {
  border-right: 0px;
}

#headerRight > div {
  border-left: 0px;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

#social > * {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

#mainLogo {
  height: 100%;
}

#menu {
  border-bottom-left-radius: 3px;
}

#search {
  border-bottom-right-radius: 3px;
}

#logo {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#social > p {
  cursor: default;
}

#menu {
  display: grid;
  grid-template-columns: 29% 14% 14% 14% 29%;
  grid-template-rows: 29% 14% 14% 14% 29%;
  width: 4rem;
  position: relative;
  flex-grow: 0;
}

#menu,
#reservation,
#retailers,
#search,
#logo {
  cursor: pointer;
  background-image: -webkit-linear-gradient(
    to bottom,
    transparent 40%,
    #59c4c6 40%,
    #59c4c6 44%,
    #f4db5e 44%
  );
  background-image: -o-linear-gradient(
    to bottom,
    transparent 40%,
    #59c4c6 40%,
    #59c4c6 44%,
    #f4db5e 44%
  );
  background-image: linear-gradient(
    to bottom,
    transparent 40%,
    #59c4c6 40%,
    #59c4c6 44%,
    #f4db5e 44%
  );
  background-size: 100% 250%;
  background-position: 0% 0%;
}

#menu:hover,
#reservation:hover,
#retailers:hover,
#search:hover,
#logo:hover {
  color: #3d322c;
  transition: all 1s;
  background-position: 0% 100%;
}

#logo:hover img {
  transition: all 1s;
  filter: brightness(0%);
}

#social i:hover {
  color: #59c4c6;
}
