* {
  font-family: "Lora", serif;
}

body {
  margin: 0;
}

i {
  cursor: pointer;
}

img {
  object-fit: cover;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

#main-container {
  display: grid;
  background-color: red;
  grid-template-rows: 100vh 95vh 60vh 60vh 100vh 100vh;
}
