* {
  font-family: "Lora", serif;
}

body {
  margin: 0;
  position: relative;
}

i {
  cursor: pointer;
}

img {
  object-fit: cover;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  #main-container {
    display: grid;
    background-color: red;
    grid-template-rows:
      minmax(1500px, 100vh) minmax(600px, 110vh) auto minmax(400px, 80vh) minmax(
        550px,
        100vh
      )
      auto;
  }
}
@media only screen and (min-width: 1000px) {
  #main-container {
    display: grid;
    background-color: red;
    grid-template-rows:
      minmax(750px, 100vh) minmax(600px, 110vh) auto minmax(400px, 80vh) minmax(
        550px,
        100vh
      )
      auto;
  }
}

textarea,
select,
input,
button {
  outline: none;
  border-radius: 0;
}
